<div class="container p-4">
    <div class="form-group">
        <a href="/material/costura" class="btn btn-outline-primary btn-block">Volver</a>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <form action="/material/costura/agregar" method="POST">
                <label for="color">Color de la Costura</label>
                <div class="form-group">
                    <input clas="form-control" type="text" name="texto" style="width: 100%" autofocus required>
                    <hr>
                </div>
                <div class="form-group">
                      <button class="btn btn-success btn-block" type="submit">Agregar Color de Costura</button>
                </div>
            </form>
        </div>
    </div>
</div>
