    <div class="container p-4">
        <div class="form-group">
            <a href="/material" class="btn btn-outline-primary btn-block">Volver</a>
        </div>
        <hr>
        <form action="/material/agregar" method="POST" enctype="multipart/form-data">
            <label>Tipo de Material</label>
            <select name="idTipo" class="form-control" required>
                {{#each material}}
                  <option value={{idTipo}}>{{descrip}}</option>
                {{/each}}
            </select>
            <label>Color</label>
            <select name="color" class="form-control" required>
                {{#each color}}
                  <option value={{idColor}}>{{ descripcion }}</option>
                {{/each}}
            </select>
            <hr>
            <div class="form-group">
                <input class="btn btn-block" type="file" name="image">
                <small id="imageHelp" class="form-text text-muted">Solo puedes subir imagenes que no sobrepasen los 10 Megabytes.</small>
            </div>
            <hr>
            <div class="form-group">
                  <button class="btn btn-success btn-block" type="submit">Agregar Material</button>
            </div>
        </form>
    </div>
