<div id="wrapper">
{{>sidebar}}
<div class="card">
	<div class="card-body">
		<h5>Bienvenido {{user.nombre}} {{user.apellido}}</h5>
		<h6>Nivel de Acceso: {{user.Descripcion}}</h6>
	</div>
</div>
<hr>
{{> tarjetas }}
{{> grafica }}
<footer class="sticky-footer background">
	<div class="container my-auto">
		<div class="copyright text-center text-white my-auto">
			<b>Copyright © AutoForros 2020</b>
		</div>
</div>
</footer>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>
