  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-primary text-white">Menu Principal</div>
      <div class="list-group list-group-flush">
        <a href="/perfil" class="list-group-item list-group-item-action bg-primary">Dashboard</a>
        <a href="/vehiculos" class="list-group-item list-group-item-action bg-primary">Mis Vehiculos</a>
        <a href="/solicitud/agregar" class="list-group-item list-group-item-action bg-primary">Hacer Solicitud</a>
        <a href="/solicitud" class="list-group-item list-group-item-action bg-primary">Ver Solicitudes</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-primary">Salir</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid p-3">

<div class="row">
<div class="col-xl-3  col-sm-6 mb-3 p-2 mx-auto">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-4">{{solicitudes}} Solicitudes Hechas!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/solicitud">
                <span class="float-left">Ir a Solicitudes</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3 mx-auto">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">{{vehiculos}} Vehiculos Registrados </div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/vehiculos">
                <span class="float-left">Ver Vehiculos</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>

</div>
           <div class="container">
<div class="card">
<div class="card-header">
            <i class="fas fa-chart-area"></i>
            Tipo de Material mas Vendido</div>
<div class="card-body">
<canvas id="graficaUsuario" width="200" height="200"></canvas>
</div>
</div>


</div>     
			
        </div>   
      </div>
    </div>
  </div>
<script type="text/javascript" src="/static/js/scripts.js"></script>
  <script>
    $("#sidebarToggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
	$(document).ready( function () {
        graficaUsuario();
    });
	
  </script>
