<div id="wrapper">
{{>sidebar}}
<div class="card">
	<div class="card-body">
		<h5>Bienvenido {{user.nombre}} {{user.apellido}}</h5>
		<h6>Nivel de Acceso: {{user.Descripcion}}</h6>
	</div>
</div>
<hr>
{{> tarjetas }}
{{> grafica }}
<footer class="sticky-footer background">
<div class="container my-auto">
		<div class="form-row">
            <div class="form-group col-md-6">
              <h6 class="text-white">Banesco: 0134-0043-18-0431051896</h6>
            </div>
            <div class="form-group col-md-6">
              <h6 class="text-white">Mercantil: 0105-0734-19-1734057629</h6>
            </div>
          </div>
		<div class="copyright text-center text-white my-auto">
			<b>Copyright © AutoForros 2020</b>
		</div>
</div>
</footer>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>
