  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading bg-primary text-white">Menu Principal</div>
      <div class="list-group list-group-flush">
        <a href="/inventario" class="list-group-item list-group-item-action bg-primary">Ver Inventario</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-primary">Salir</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid p-3">

<div class="row">
          <div class="col-xl-3 col-sm-6 mb-3 mx-auto">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">{{procesos}} {{mensaje}} </div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/produccion">
                <span class="float-left">Ver Forros en Producción</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>

</div>
           <div class="container">
<div class="card">
<div class="card-header">
            <i class="fas fa-chart-area"></i>
            Ventas de la semana</div>
<div class="card-body">
<canvas id="grafica" width="80%" height="34%"></canvas>
</div>
<div id= "ventas" class="card-footer small text-muted">Ventas semanales</div>
</div>


</div>     
			
        </div>   
      </div>
    </div>
  </div>
<script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
  <script>
    $("#sidebarToggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
	$(document).ready( function () {
        pintarGrafica();
    });
	
  </script>
