<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 text-white">AutoForros</h1>
            <h3 class="mb-5">
                <em>Los Mejores Forros para tus Carros</em>
            </h3>
            <a href="/registro" class="btn btn-primary">Registrate y haz tu pedido</a>

        </div>
    </header>
</main>
