<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
           <div class="card">
                <div class="card-body">
                    <form action="/vehiculos/agregar/" method="POST">
                        <div class="form-group">
                            <h4>Registro de Vehiculo</h4>
                        </div>
                    </div>
                            <div class="form-group">
                            <small class="p-2">Placa del Vehiculo</small>
                            <input type="text" value="" class="form-control" name="placa" placeholder="Placa" required autofocus>
                        </div>
                        <div class="form-group">
                            <small class="p-2">Cliente</small>
                            <select name="idCliente" class="form-control">
                                {{#each consulta}}
                                    <option value={{idUsuario}}>{{nombre}} {{apellido}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" value="" class="form-control" name="marca" placeholder="marca" required>
                        </div>
                        <div class="form-group">
                            <input type="text" value="" class="form-control" name="modelo" placeholder="modelo"  required>
                        </div>
                        <div class="form-group">
                            <input type="text" value="" class="form-control" name="year" placeholder="Año" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" required>
                        </div>
                        <div class="form-group">
                              <button class="btn btn-success btn-block" type="submit">Registrar Vehiculo</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-light btn-block" type="reset" value="Reset">Borrar</button>
                        </div>
                    </form>
                </div>
           </div>
        </div>
    </div>
</div>
