<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="AutoForros" content="">
  <title>AutoForros</title>
  <link href="/static/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="/static/css/pulse.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/Chart.min.js"></script>
  <script src="/static/js/sb-admin.min.js"></script>
  <script src="/static/js/all.min.js"></script>
</head>
<body>
  {{> barra }}
  {{> mensaje }}
  {{{ body }}}
  {{> footer }}
  <script src="/static/js/Chart.min.js"></script>
  <script src="/static/js/sb-admin.min.js"></script>
</body>
</html>
